[project]
	description = Tumbler Theme
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ivan Pierre (ivanpierre)
[access "refs/for/refs/*"]
	read = group user/Ivan Pierre (ivanpierre)
	push = group user/Ivan Pierre (ivanpierre)
	label-Code-Review = -2..+2 group user/Ivan Pierre (ivanpierre)
	label-Verified = -1..+1 group user/Ivan Pierre (ivanpierre)
	rebase = group user/Ivan Pierre (ivanpierre)
	removeReviewer = group user/Ivan Pierre (ivanpierre)
	submit = group user/Ivan Pierre (ivanpierre)
[access "refs/heads/*"]
	read = group user/Ivan Pierre (ivanpierre)
	create = group user/Ivan Pierre (ivanpierre)
	push = +force group user/Ivan Pierre (ivanpierre)
	pushMerge = group user/Ivan Pierre (ivanpierre)
[access "refs/tags/*"]
	push = +force group user/Ivan Pierre (ivanpierre)
	pushTag = group user/Ivan Pierre (ivanpierre)
	pushSignedTag = group user/Ivan Pierre (ivanpierre)
